.cart-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    margin:50px
}
.text-wrapper{
    padding: 15px;
}
.btn-wrapper{
    padding: 15px;
    
}
.img-wrapper img{
    width: 40%;
}
.btn-wrapper button{
    background-color: red;
}
.addto-cart img{
    width: 9%;
    position: absolute;
    right: 10px;
}